.header {
  font-size: 18px;
  padding: 10px;
  box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2),
    0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
  display: flex;
  align-items: center;
  justify-content: center;

  .nav-link.active {
    font-weight: bold;
  }
  .side_links {
    display: flex;
    gap: 20px;

    #user-dropdown {
      text-align: center;
      &::after {
        display: none !important;
      }
      .dropdown-toggle {
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
}
